* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    min-height: 100%;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background: #004A55;
    max-width: 100vw;
}

.center{
    position: relative;
    width: 85%;
    max-width: 2000px;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Header/Navigation */

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2em auto;

}

.navigation .logo {
    text-decoration: none;
    color: #C2F5FF;
    margin: 0 7em 0 auto;
    font-size: 2.15em;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: fit-content;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #C2F5FF;
    border-radius: 100px;
    list-style-type: none;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}   

nav ul li a {
    display: inline-block;
    color: #007EA2;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    padding: .19em 1.7em;
}

/* Hero */

.hero {
    padding-top: 1em;
    padding-bottom: 10em;
}

.hero-container{
    max-width: 800px;
    width: 50%;
}

.image-container{
    max-width: 50%;
}

.main-text{
    color: #C2F5FF;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.hero-container p {
    margin: .75em auto;
    color: #E9E9E9;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
}

.hero-image{
    max-width: 100%;
}

/******* Hero >>>>> Buttons ********/

.btn {
    display: inline-block;
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 2em;
    border: .2em solid #F28DFD;
    text-align: center;
    margin: .5em 0;
}

a.cta{
    font-weight: 700;
    color: #FFF;
    background: #F28DFD;
    letter-spacing: .05em;
    padding: .5rem 1.5em;
    margin-right: 1em;
}

a.second {
    color: #C2F5FF;
    padding: .5rem 1em;
    font-weight: 300;
}

/* test */
#home {
    background-color: #007EA2;
    border-radius: 100px;
    color: #C2F5FF;
}

/************ Benefits ***********/
.benefits {
    position: relative;
    background-color: #EFFDFF;
    padding-bottom: 8em;
}

.benefits header{
    position: relative;
    padding: 4.5em 0;
}

.benefits header h2{
    text-align: center;
    background: #004A55;
    color: #C2F5FF;
    font-size: 4em;
    font-weight: normal;
    padding: .2em 0;
    letter-spacing: .11em;
}

.benefits .content{
    display: flex;
    justify-content: space-around;
    margin: 3em auto 0;
}

.benefits-image{
    display: block;
    margin-left: 2em;
    max-width: 45%;
}

.benefits-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    max-width: 650px;
}

.off-color{
    background-color: #004A55;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 3em 1.5em;
    border-radius: 10%;
}

.card h3 {
    display: inline-block;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 1em;
    letter-spacing: .07em;
}

.card p {
    display: inline-block; 
    line-height: 150%;
    letter-spacing: normal;
    font-weight: lighter;
}

.off-color h3{
    color: #C2F5FF;
}

.off-color p{
    color: #E9E9E9;
}

.benefit-2 h3{
    color: #3EA9BE;
}

.benefit-2 p{
    color: #004A55;
}

.benefits-container .test{
    background-color: #004A55;
    border-radius: 10%
}

/********* How-To Section **********/
.how-to{
    margin-bottom: 5em;
}

.how-to header {
    margin: 3em 0;
}

.how-to header h2{
    text-align: center;
    color: #C2F5FF;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: .1em;
}

.steps-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.step{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1em 0;
    margin: 1em 0;
}

.step-content{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.how-title{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #EFFDFF;
    font-weight: 500;
    font-size: 3em;
    line-height: 120%;
}

.how-text{
    color: #D4D4D4;
    font-weight: 400;
    font-size: 1.5em;
    max-width: 500px;
    margin: 1em auto;
}

.watermark{
    position: absolute;
    color: rgba(62, 169, 190, 0.19);
    font-weight: 500;
    font-size: 4em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.left{
    top: 0;
    left: 12%
}

.step-image{
    max-height: 200px;
    margin: .5em 0;
}

.step-image img{
    width: 100%;
    max-height: 200px;
}

/*** Call-To-Action Section ****/
.cta-section{
    padding: 10em 0;
    background-color: #007EA2;
}

.cta-content{
    text-align: center;
}

.cta-content h3{
    font-size: 3em;
    color: #D4F5FF;
    font-weight: 500;
    margin: 1rem 0;
}

.cta-content .btn{
    font-size: 2.3em;
    margin: 1em 0;
}

/*** Footer ***/
.footer-container text{
    display: inline-block;
}

.footer-container{
    display: flex;
    flex-direction: row;
}